/* Estilos generales */
body {
  background-color: #f0f0f0; /* Tono más claro */
  color: #333333; /* Texto oscuro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezados */
h1, h2 {
  text-align: center;
  font-weight: normal;
  color: #333333;
}

/* Formulario */
form {
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #cccccc;
  padding: 15px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
  color: #333333;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #333333;
  box-sizing: border-box;
}

input::placeholder {
  color: #999999;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #10a37f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0e8c6e;
}

/* Chart */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  overflow: visible; /* Permitir que las etiquetas sobresalgan */
  width: 100%;
}

canvas {
  width: 100% !important;
  max-width: 500px;
  height: auto !important;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  form {
    padding: 10px;
  }

  input, select, button {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  h1, h2 {
    font-size: 24px;
  }
}
